@model DK1.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Use another service to log in.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (!loginProviders.Any())
    {
        <div>
            <p>
                No external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl ?? "" }, FormMethod.Post, new { id = "externalLoginForm" }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        string logoPath = "/Content/default-logo.png";
                        string altText = $"{p.AuthenticationType} Login";
                        string buttonText = p.AuthenticationType;

                        switch (p.AuthenticationType.ToLower())
                        {
                            case "github":
                                logoPath = "/Content/github-logo.png";
                                altText = "GitHub Login";
                                buttonText = "GitHub";
                                break;
                            case "google":
                                logoPath = "/Content/google-logo.png";
                                altText = "Google Login";
                                buttonText = "Google";
                                break;
                            case "facebook":
                                logoPath = "/Content/facebook-logo.png";
                                altText = "Facebook Login";
                                buttonText = "Facebook";
                                break;
                        }

                        <button type="submit" class="btn btn-default" name="provider" value="@p.AuthenticationType"
                                title="Log in using your @buttonText account" onclick="console.log('Submitting provider: @p.AuthenticationType')">
                            @if (System.IO.File.Exists(Server.MapPath(logoPath)))
                            {
                                <img src="@logoPath" alt="@altText" style="width: 20px; height: 20px; vertical-align: middle; margin-right: 8px;" />
                            }
                            @buttonText
                        </button>
                        <br />
                    }
                </p>
            </div>
        }
    }
}

<script>
    document.getElementById('externalLoginForm').addEventListener('submit', function (e) {
        console.log('Form submitting with provider: ' + e.submitter.value);
    });
</script>